<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Insider Careers Test Suite" parallel="tests" thread-count="1">
    
    <test name="Insider Careers Test">
        <classes>
            <class name="com.insider.tests.InsiderCareersTest">
                <methods>
                    <include name="testHomePageOpened"/>
                    <include name="testCareerPageSections"/>
                    <include name="testQAJobsFiltering"/>
                    <include name="testJobDataValidation"/>
                    <include name="testViewRoleRedirect"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <!-- Suite parameters -->
    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="false"/>
    <parameter name="baseUrl" value="https://useinsider.com"/>
    
</suite>